.color-title {
    font-weight=normal;
}

img{
    width: 200px;
    height: 200px;
}

* {
    text-align: center;
  }
  
# {
    background-color: #3498db; /* Culoare solidă albastru */
}  

.centru {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Să ocupe întreaga înălțime a ferestrei */
}
